{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app-compat.js"></script>
    <script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-messaging-compat.js"></script>
    <title>Ehsan</title>
    {% block links %}

</head>
<body>
      {% if user.hospitalemployee %}
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
      {% else %}
      <nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
      {% endif %}
        <div class="container-fluid">
          <a class="navbar-brand" href="#">EHSAN</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            {% if user.is_authenticated %}
            <div class="navbar-nav">
              <a class="nav-link" href="{% url 'patients:patient-list' %}">Patients</a>
              <a class="nav-link" href="{% url 'patients:patient-history-list' %}">History</a>
              <a class="nav-link" href="{% url 'patients:add-patient' %}">Add Patient</a>
              <form id="frm_logout" method="post" action="{% url 'accounts:logout' %}">
              {% csrf_token %}
              <input class="nav-link" type="submit" value="logout">
              </form>
              <a class="nav-link">{{ user.username|title }}</a>
            {% endif %}
            </div>
        {% endblock %}

          </div>
        </div>
      </nav>
      <div class="container-fluid">
        {% block content %}

        {% endblock %}
    </div>
<script src="{% static 'js/firebase-messaging.js' %}"></script>
</body>
</html>