{% extends "base.html" %}
{% load static %}
{% block content %}
<script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-app-compat.js"></script>
<script src="https://www.gstatic.com/firebasejs/9.14.0/firebase-messaging-compat.js"></script>
<h1 class="container-fluid">Patients List</h1>

<table class="table container-fluid">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Name</th>
        <th scope="col">Age</th>
        <th scope="col">Sex</th>
        <th scope="col">Options</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patient_list %}
      <tr>
        <th scope="row">{{ forloop.counter }}</th>
        <td> <a href="{% url 'patients:patient-detail' patient.id %}">{{ patient.first_name|title }} {{ patient.middle_name|title }} {{ patient.last_name|title }} </a></td>
        <td>{{ patient.age }}</td>
        <td>{{ patient.sex }}</td>  
        <td>
          {% if perms.patients.change_patient %}
          <a href="{% url 'patients:update-patient' patient.id %}" class="btn btn-warning btn-sm">Update</a>
          {% endif %}
      
          {% if perms.patients.delete_patient %}
          <a href="{% url 'patients:delete-patient' patient.id%}" class="btn btn-danger btn-sm">Delete</a>
          {% endif %}

        </td>

        <td>
          {% with patient.patientcase_set.all|first as case %}
          {% if case.is_successful == True and case.is_accepted == True and case.is_approve == True %}
          <span class="badge rounded-pill bg-success">Success</span>
          {% elif case.is_accepted == True and case.is_approve == True %}
          <span class="badge rounded-pill bg-warning">Work on it</span>
          {% elif case.is_accepted == True %}
          <span class="badge rounded-pill bg-primary">In The system</span>
          {% else %}
          <span class="badge bg-danger">Pending</span>
          {% endif %}
          {% endwith %}
        </td>
      </tr>
      {% endfor %}
    </tbody>
    
  </table>

<script src="{% static 'js/firebase-messaging.js' %}"></script>
{% endblock %}