{% extends "base.html" %}
{% block content %}
{% load static %}
<div class="container-fluid">
<h1>Patient Case</h1>
<p>Name: {{ patientcase.patient_name }} </p>
<p>Hospital: {{ patientcase.reported_by }}</p>
<p>Diagnose: {{ patientcase.diagnose }}</p>
<p>Success: {{ patientcase.is_successful }}</p>
<p>Approved: {{ patientcase.is_approve }}</p>
<p>Accepted: {{ patientcase.is_accepted }}</p>
<p>Cost: {{ patientcase.cost }}</p>
<p>Type: {{ patientcase.case_type }}</p>
<p>Date issued: {{patientcase.created_date|date:"D d M Y"}}</p>
<p>Time: {{patientcase.created_date|time:"H:i A"}}</p>
<a href="{{ patientcase.docs.url }}">
    <img src="{% static 'pics/pngwing.com.png' %}" class="rounded" alt="PDF" width="100px" height="100px">
</a>

<br>
<br>

{% if patientcase.is_accepted == False %}
<a href="{% url 'patients:case-update' patientcase.id %}" class="btn btn-warning btn-sm">Edit Case</a>
{% endif %}


{% if perms.patients.can_approve_cases and patientcase.is_accepted is True and patientcase.is_approve is False %}
<a href="{% url 'patients:approve-case' patientcase.id%}" class="btn btn-default btn-sm">Approve</a>
{% endif %}

{% if patientcase.is_accepted == False and perms.patients.can_approve_cases %}
<a href="{% url 'patients:accept-case' patientcase.id%}" class="btn btn-default btn-sm">Accept</a>
{% endif %}

{% if perms.patients.can_succeed_case and patientcase.is_successful is False and patientcase.is_approve is True %}
<a href="{% url 'patients:succeed-case' patientcase.id%}" class="btn btn-default btn-sm">Successful</a>
{% endif %}

{% if perms.patients.delete_patientcase %}
<a href="{% url 'patients:delete-case' patientcase.id %}" class="btn btn-danger btn-sm" >Delete Case</a>
{% endif %}
</div>
{% endblock %}
