{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
    <h1>Patients Info</h1>
    <p>Patient Name:{{ patient.first_name|title }} {{ patient.middle_name|title }} {{ patient.last_name|title }}</p>
    <p>Age:{{ patient.age }}</p>    
    <p>Gender: {{ patient.sex }}</p>
    <p>Phone number:{{ patient.phone_number }}</p>
    
    {% if user.hospitalemployee %}
          <a href="{% url 'patients:update-patient' patient.id %}" class="btn btn-warning btn-sm">Update</a> 
          {% else %}
          <a href="{% url 'patients:delete-patient' patient.id%}" class="btn btn-danger btn-sm">Delete</a>
          <a href="{% url 'patients:update-patient' patient.id%}" class="btn btn-warning btn-sm">Update</a>
    {% endif %}
    <!-- {% if patientcase %}
    {{ patientcase.reported_by }}
    {% else %}
    <p>no cases to show</p>
    {% endif %}
     -->

</div>
{% endblock %}